<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currículo</title>

  <style>
    .container {
      background-color: #CCCCCC;
      padding: 20px;
      width: 600px;
      margin: auto;

      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

      border-radius: 5px;
      overflow: hidden;

      justify-content: space-around;
    }

    header {
      margin-bottom: 30px;
    }

    .header-title {
      font-size: 32px;
      font-weight: 700;
    }

    hr {
      border: 1px solid black;
    }

    .paragraph {
      text-align: justify;
    }

  </style>
</head>

<body>
  <div class="container">
    <div class="header-title">
      Henrique Carvalho
    </div>
    <div>
      Análise e Desenvolvimento de Sistemas
    </div>
    <hr>
    <div>
      <h2>Resumo</h2>
      <p class="paragraph">Estudante de Análise e Desenvolvimento de Sistemas (Fatec-Itu) com forte base em programação Python e 
        experiência prática em suporte técnico de TI em ambiente educacional. Domínio do pacote Office e foco 
        em aplicar minhas habilidades analíticas e de resolução de problemas em um ambiente colaborativo.</p>
    </div>
    <hr>
    <div>
      <h2>Formação</h2>
      <p>Cursando Análise e Desenvolvimento de Sistemas, Faculdade de Tecnologia - Itu (Fatec), 2026.</p>
    </div>
    <hr>
    <div>
      <h2>Experiência profissional</h2>
      <h4>Estágio de Análise de Sistemas</h4>
      <ul>
        <li>Período: Intercorrendo</li>
        <li><p class="paragraph">Responsabilidades e Realizações: Estagiário em Analise de Sistemas - Prefeitura Municipal de Itu.
           Prestação de suporte técnico em ambiente educacional, incluindo a administração, manutenção preventiva 
           e corretiva de computadores e tablets na sala de informática de uma escola municipal.</p></li>
      </ul>
    </div>
    <hr>
    <div>
      <h2>Tecnologias</h2>
      <ul>
        <li>Python</li>
        <li>Power BI</li>
        <li>SQL Server</li>
        <li>Word</li>
        <li>Excel</li>
        <li>Power Point</li>
      </ul>
    </div>
    <hr>
    <div>
      <h2>Cursos complementares</h2>
      <ul>
        <li>Curso de Python | Huawei</li>
        <li>Curso de Pacote Office completo pela Fundação Bradesco</li>
      </ul>
    </div>
    <hr>
    <div>
      <h2>Idiomas</h2>
      <ul>
        <li>Português: Nativo</li>
        <li>Inglês: Intermediário</li>
        <li>Espanhol: Intermediário</li>
      </ul>
    </div>
  </div>
</body>
</html>